<!DOCTYPE html>
<html lang="en">
<head>
  <title>Abstract</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="active.js"></script>
</head>
<style>
h2{
margin:20px;
}
h3
{
  margin:15px 30px;
}
p{
margin:20px;
text-align: justify;
font-size:20px;
}
ul.a
{
margin:20px;
text-align: justify;
font-size:20px;
}

</style>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">Life Expectancy</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Abstract</a></li>
      <li class="active"><a href="/about_data">About Data</a></li>
      <li><a href="/data_pre-processing">Data Pre-processing</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/anv">General Analysis</a></li>
          <li><a href="/regression_a">Regression Analysis</a></li>
        </ul>
      </li>

      <li><a href="/conclusion">Conclusion</a></li>
    </ul>
  </div>
</nav>

  <h2>About the data:</h2>
  <p>Each row in the data consists of information about the Country, Continent, Year, Status, Life expectancy, Adult Mortality, infant deaths, Alcohol, GDP in addition to other input parameters.</p>



  <h3>Immunization factors:</h3>
<ul class='a'>
  <li><u>Hepatitis B</u>: Immunization coverage against hepatitis B (HepB) among one year old children (In percentage).</li>
  <li><u>Polio</u>: Polio immunization coverage (Pol3) among one-year-old children (%).</li>
  <li><u>Diphtheria</u>: Immunization coverage against diphtheria and pertussis tetanus (DTP3) among children aged 1 year.</li>
</ul>

<h3>Mortality factors:</h3>
<ul class='a'>
  <li><u>Infant deaths</u>: Infant deaths per 1000 population.</li>
  <li><u>Under-five deaths</u>: Deaths of children under five years of age per 1000 population.</li>
  <li><u>HIV / AIDS</u>: Mortality per 1,000 live births HIV / AIDS (0-4 years).</li>
  <li><u>Adult Mortality</u>: Adult mortality rates for both sexes (probability of dying between the ages of 15 and 60 per 1000 population).</li>
</ul>

<h3>Economic factors:</h3>
<ul class='a'>
  <li><u>percentage expenditure</u>: Health care expenditure as a percentage of gross domestic product per capita (%).</li>
  <li><u>Total expenditure</u>: Total government spending on health as a percentage of total government spending (%).</li>
  <li><u>GDP</u>: Gross Domestic Product per capita (in US dollars).</li>
  <li><u>Income composition of resources</u>: Human Development Index in terms of income structure of resources (index from 0 to 1).</li>
</ul>

<h3> Social factors:</h3>
<ul class='a'>
  <li><u>BMI</u>: Infant deaths per 1000 population.</li>
  <li><u>Thinness 1-19 years</u>: Prevalence of thinness among children and adolescents aged 10 to 19 years (%).</li>
  <li><u>Thinness 5-9 years</u>: Prevalence of thinness among children aged 5 to 9 (%).</li>
  <li><u>Alcohol</u>: Accounting for alcohol consumption per capita (15+) (in liters of pure alcohol).</li>
  <li><u>Population</u>: Population of the country.</li>
  <li><u>Schooling</u>: Number of years of study (years).</li>
</ul>
</body>
</html>




