<!DOCTYPE html>
<html lang="en">
<head>
  <title>Images</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href='./static/ana_n_vis.css'>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/#">Life Expectancy</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Abstract</a></li>
            <li><a href="/about_data">About Data</a></li>
            <li ><a href="/data_pre-processing">Data Pre-processing</a></li>
            <li class="active" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/anv">General Analysis</a></li>
                <li><a href="/regression_a">Regression Analysis</a></li>
              </ul>
            </li>

            <li><a href="/conclusion">Conclusion</a></li>
          </ul>
        </div>
      </nav>


<h2>Linear Regression Graphs</h2>

<div class='container2'>
  <p class="heading">Top twenty and last twenty countries with Life Expectancy: </p>
  <img class='text_img1' src="./static/img/top_10_life_exp.png">
  <img class='text_img1' src="./static/img/least_10_life_exp.png">
  <div class="left_image">
    <img src="./static/img/top_life_exp.png">
  </div>
  <div   class="right_text" >

    <p>
      From the above graph, it is clear that Japan is in lead in Life expectancy because of food habits and Expenditure on health but all the twenty countries have an average Life Expectancy above 80 years.
    </p>
  </div>
 <h3></h3>
  <div   class="left_text" >
    <p>
      From the above graph, it is clear that Japan is in lead in Life expectancy because of food habits and Expenditure on health but all the twenty countries have an average Life Expectancy above 80 years.
    </p>
  </div>
    <div class="right_image">
      <img src="./static/img/least_life exp.png"  >
    </div>
</div>



<div class='container2'>
  <p class="heading">Analysis between Developed and Developing Countries:  </p>

  <div class="center_image">
    <img src="./static/img/box_plot_deve.png">
  </div>
  <div   class="center_text" >
    <p>
      There are 32 Developed countries and 161 Developing countries the Life Expectancy in developed countries is 79 and developing countries is 67 because developed countries are able to invest more on health care.
      Graph shows in both developing and developed countries maximum value is 89 and minimum value in developing countries is 38, In developed countries it is 70 where this is Maximum, Minimum values are calculated by using Inter quartile range.
    </p>
  </div>
  <br/>
  <p class="heading">Developed Countries and Developing Countries:</p>
  <img class='text_img' src="./static/img/top_10_developed.png">
  <img class='text_img' src="./static/img/last_10_developed.png">
  <div class="left_image">
    <img src="./static/img/top_10_developed1.png">
  </div>
  <div   class="right_text" >

    <p>
      From the above graph, it is clear that Japan is in lead in Life expectancy in developed countries as Japan because the obesity rate in Japan is low, the food diet is unique all over the country and consumption of seafood is more.
    </p>
  </div>
  <div   class="left_text" >
    <p>
      In Developed countries, Lithuania is a country which stood last in life expectancy of 72 years. The richest United states of America with Life expectancy of 78 years.
    </p>
  </div>
    <div class="right_image">
      <img src="./static/img/last_10_developed1.png"  >
    </div>



    <p class="heading">            </p>
    <img class='text_img' src="./static/img/top_10_developing.png">
    <img class='text_img' src="./static/img/last_10_developing.png">
    <div class="left_image">
      <img src="./static/img/top_10_developing1.png">
    </div>
    <div   class="right_text" >

      <p>
        Graph speaks that in Developing countries France is a country which stood top in life expectancy of 82 years and Qatar is in 10th place in developing countries out of 161 countries with Life expectancy of 77 years.
      </p>
    </div>
   <h3></h3>
    <div   class="left_text" >
      <p>
        The above Graph says that in Developing countries Sierra Leone is a country which stood last in life expectancy of 46 years and Nigeria is in 10th place from last in developing countries out of 161 countries with Life expectancy of 51 years.
      </p>
    </div>
      <div class="right_image">
        <img src="./static/img/last_10_developing1.png"  >
      </div>

</div>




<div class='container2'>
  <p class="heading">Top 10 and Last 10 countries based on GDP: </p>
  <img class='text_img' src="./static/img/top_10_GDP.png">
  <img class='text_img' src="./static/img/last_10_GDP.png">
  <div class="left_image">
    <img src="./static/img/top_10_GDP1.png">
  </div>
  <div   class="right_text" >

    <p>
      From above graph it is clear that Top GDP countries are Qatar and Kuwait because these both countries mainly depend on Crude oil and gas production. 10th highest GDP country is Barbados with GDP of 12017 US dollar.
    </p>
  </div>
 <h3></h3>
  <div   class="left_text" >
    <p>
      Graph speaks that in Nauru is a country which stood last in GDP with 136 US dollar. In last ten countries the Average GDP is 237 US dollars. Most are countries in last 10 are from either Africa or an island.
    </p>
  </div>
    <div class="right_image">
      <img src="./static/img/last_10_GDP1.png"  >
    </div>

</div>

<div class='container2'>
  <p class="heading">Countries which are invest more than 10% of their income in Health care:</p>
    <div class="center_image">
      <img src="./static/img/percentage_great_10per.png">
    </div>
  <div   class="center_text" >
    <p>
      There are 25 countries which are investing more than 10 percentage of income in health care.
       The average Life expectancy is 71 years. The below graph shows the Life expectancy with percentage investment
    </p>
    <p class="small_heading">Inference:</p>
    <p>Marshall Islands are investing in health care 17.2 percentage of income in health care which has life expectancy of 70.
       There are countries which are investing good percentage in health but still has less Life expectancy like Sierra Leone, Malawi, Lesotho, Burundi cause can be like this their income can be low or lack basic necessaries like Running water.</p>
  </div>
</div>



<div class='container2'>
  <p class="heading">Correlation between features:</p>
    <div>
      <img  class="heap_map" src="./static/img/heapmap.png">
    </div>
  <div   class="center_text" >
    <p>
      Life expectancy is more correlated with Schooling and Income composition of resources with 0.72 and 0.69 respectively.
      The following features are highly correlated: Under 5 deaths with Infant Deaths  ,Thinness 5-9 with Thinness 1-19.
      If a Feature is having correlation as 1 with any other feature, then that feature should be drop. It a kind of redundancy elimination.
    </p>
  </div>
</div>



<div class='container2'>
  <p class="heading">Life Expectancy Vs Schooling: </p>
    <div class="center_image">
      <img src="./static/img/life_exp_vs_school.png">
    </div>
  <div   class="center_text" >
    <p>
      Life expectancy is more correlated with number of schooling years with 0.72. It can be demonstrate using below graph.In countries which have more no of schooling years has the Average Life expectancy at most 80 years and the graph is also consistent but in the countries which have a smaller number of schooling years has less Life expectancy. It is clear from the graph the maximum Life expectancy in a smaller number of schooling years countries is 69.
    </p>
  </div>
</div>


<div class='container2'>
  <p class="heading">Life Expectancy Vs Income composition of resources:</p>
    <div class="center_image">
      <img src="./static/img/income_compostion.png">
    </div>
  <div   class="center_text" >
    <p>
      The Countries which have a high-income composition of resources have a good Average in Life Expectancy compared to countries that have a low-Income composition of resources because the country’s productivity mainly depends on the Income composition of resources.
    </p>
  </div>
</div>

</body>
</html>