<!DOCTYPE html>
<html lang="en">
<head>
  <title>Abstract</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="active.js"></script>
</head>
<style>
h2,h3{
margin:20px;
}
h4
{
  margin:15px 30px;
}
p{
margin:20px;
text-align: justify;
font-size:20px;
}
ul.a
{
margin:20px;
text-align: justify;
font-size:20px;
}

</style>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">Life Expectancy</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Abstract</a></li>
      <li><a href="/about_data">About Data</a></li>
      <li><a href="/data_pre-processing">Data Pre-processing</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/anv">General Analysis</a></li>
          <li><a href="/regression_a">Regression Analysis</a></li>
        </ul>
      </li>

      <li class="active"><a href="/conclusion">Conclusion</a></li>
    </ul>
  </div>
</nav>

<h2>Conclusion: </h2>
<ul class='a'>
  <li>Life expectancy in last 6 year is increased to many like Decreases in Morality factors, Increases in Immunization factors, Increases in Economic factors, in social factors it is dependent on factor decrease in use alcohol, increase in schooling year, Decreases in thinness.  </li>
  <li>In developed countries the life expectancy is more compared to developing countries as the developed country has a greater number of schooling year and there can invest more in medical and health care. </li>
  <li>In both country development and life expectancy Income composition of resources.  </li>
</ul>

</body>
</html>




