<!DOCTYPE html>
<html lang="en">
<head>
  <title>Final report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/csv">Death Mortality Rate </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Abstract</a></li>
        <li><a href="/images">Report</a></li>
        <li class="active"><a href="/pdf">PDF</a></li>
      </ul>
    </div>
  </nav>

<embed src="./static/Mortality rate anaysis.pdf" width="100%" height="2100px" />
</body>
</html>