<!DOCTYPE html>
<html lang="en">
<head>
  <title>Images</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style> 
  img{
	  width:500;
	  heigh:333;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
  }
h2{
margin:20px;
}
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Abstract</a></li>
      <li><a href="/images">Images</a></li>
      <li><a href="/pdf">PDF</a></li>
    </ul>
  </div>
</nav>

<img src="./static/Avg. Deaths due to Each Factor - WORLD.png"  width="90%" height="333">
<h2>Linear Regression Graphs</h2>
<img src="./static/vitamin A Vslow_bone_mineraldensity.png"  >
<img src="./static/High sodium VsBlood pressure.png"  >
<img src="./static/Low physical activity VsGlucose.png"  >
<img src="./static/Low physical activity VsHigh BMI.png"  >

<h2>Polynomial Regression Graphs</h2>
<img src="./static/poly_Alcohol_use VsIron_deficiency.png"  >
<img src="./static/poly_Low physical activity VsCholesterol.png"  >
<img src="./static/poly_Non-exclusive breastfeeding VsGlucose.png"  >
<img src="./static/poly_Smoking VsSecondhand_smoke.png"  >


  

</body>
</html>