<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
h2{
margin:20px;
}
p{
margin:20px;
text-align: justify;
font-size:20px;
}
ul.a
{
margin:20px;
text-align: justify;
font-size:20px;
}

</style>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Death Mortality Rate </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Abstract</a></li>
      <li><a href="/images">Images</a></li>
      <li><a href="/pdf">PDF</a></li>
    </ul>
  </div>
</nav>

<h2>Abstract: </h2>
<p> Nowadays there are a lot of risk factors that cause death like smoking, Alcohol consumption, Diabetes, Blood pressure, etc. 
In a year for a risk factor, thousands of people are dying. so, analysing the Relationship between risks factors is essential. 
In this report mortality rate of world is analysed from the year of 1990-2017. Mortality rate is the ratio of death occurring to the total number of populations. 
From this analysis, conclusions can be drawn which help to bring awareness to people. Using various Regression like linear, polynomial, multiple regression, and statistics concepts. 
</p>

<h2>Data collection:</h2>
<p> The dataset which is used for analysing the death mortality is taken from Kaggle. 
The dataset provides information about the death due to a risk factor for an entity in a particular year. 
The data is from the year 1990 to 2017. 
</p>

<h2>Approach:</h2>
<ul class='a'>
  <li>The various python libraries such as Numpy, pandas, Matplotlib are used for the purpose of mathematical calculations, extraction of data and visualization respectively. </li>
  <li>Some other packages are used like sklearn which helps to find relationship between risk factors. </li>
  <li>The extracted dataset was found to have null values which are then effectively handled to achieve accurate analysis rather than removing them from the dataset. </li>
</ul>  

</body>
</html>