<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<link rel="stylesheet" href="static/mainpage.css"> 
<script src="static/demo.js"></script> 
</head>    
<body>    
    <center> <h1> Student Login Form </h1> </center>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" id="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button onclick="myFunction()">Login</button>    
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>
    <p id="demo"></p>     
</body>     
</html>  